.contact .contactContainer {
    flex-direction: column;
    max-width: 1200px;
    margin: -45px auto;
    width: 90%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactItems {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactItem {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #00000010;
    transition: 0.3s ease box-shadow;
}

.contactItem:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

.icon {
    width: 70px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactInfo h1 {
    font-size: 2.0rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.contactInfo h2 {
    font-size: 1.0rem;
    line-height: 2rem;
    font-weight: 500;
}

.sectionTitle {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.sectionTitle span {
    color: crimson;
} 